# InfluxDB Configuration
# Generate a new token at: https://us-east-1-1.aws.cloud2.influxdata.com/ -> Data -> Tokens
INFLUXDB_TOKEN=your_new_token_here
INFLUXDB_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUXDB_ORG=Motor Data
INFLUXDB_BUCKET=monitoreoram
